<% include ../partials/header %>

<div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-6">
            <img class="img-circle" src="../images/trans.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Book Categories</h2>
                <p>
                <div id="showbook"></div>
                  <% for(var i=0; i<bookCat.length; i++) { %>
                     <h4 class='text-left' style='color: white; background-color: #99c'><%= bookCat[i].cat %></h4>

                        <% if(catsAndBooks[i].length>0){ %>
                        <% for(var j=0; j<catsAndBooks[i].length; j++) { %>
                         <p class='text-left' id='clickedbook' style='background-color: #ddd'><%= catsAndBooks[i][j].name %> - <span class="qty" data-id="<%= catsAndBooks[i][j].key %>"><%= catsAndBooks[i][j].quantity %></span> remaining
                          </p><p><a href="#" class="btn btn-info borrow" data-quantity="<%= catsAndBooks[i][j].quantity %>" data-category="<%= catsAndBooks[i][j].categoryKey %>" data-id="<%= catsAndBooks[i][j].key %>" role="button">Borrow</a></p><br>
                       <% }; %>
                      <% } %> 

                  <br><% }; %>
                </p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
<% include ../partials/footer %>